<div id="left"></div>
<div id="right"></div>
@*<div id="top"></div>*@
<div id="bottom"></div>

<div class="row" align="center" style="padding-top:55px;">
    <img src="~/images/delivered.png" />     
</div>

<div class="row" align="center">
    <div style="padding:5px 55px 15px 55px; max-width:650px">
        <h3 align="center" style="color:#858585">Timelisten er levert!</h3>
    </div>
</div>

<div class="row" style="vertical-align:bottom">
    <button class="button button1" type="button" style="color:#839D5D" onclick="location.href='@Url.Action("TimeList","Home")'">+ Registrer ny timeliste</button>
</div>
