@{
    ViewData["Title"] = "Home Page";
}

<div id="left"></div>
<div id="right"></div>
@*<div id="top"></div>*@
<div id="bottom"></div>

<div class="row" align="center">
        <img src="~/images/timereg.png" />
</div>

<div class="row" align="center">
    <div style="padding:5px 55px 15px 55px;">
        <h5 align="left">Hei! </h5>
        <h5 align="left">Du kan registere timeliste ved å kopiere fra forrige uke eller åpne en blank timeliste.</h5>
        <h5 align="left" style="margin-bottom:35px">Velger du å hente inn forrige uke må du spesifisere timer og beskrivelsefeltet selv.</h5>

        <button class="button button1" type="button" onclick="location.href='@Url.Action("TimeListCopy","Home")'"><h5 style="color:#88A75B">+ Kopier forrige uke</h5></button>
        <button class="button button1" type="button" onclick="location.href='@Url.Action("TimeList","Home")'"><h5 style="color:#88A75B">+ Åpne blank timeliste</h5></button>

        <h5 align="right">God timeføring :)</h5>
    </div>
</div>
