@*@{
        ViewData["Title"] = "Contact";
    }
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>*@

@section scripts{
    <script>

    </script>
}

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:dimgrey;max-height:25px">
    <div style="align-content:center;padding-top:15px;padding-left:55px">
        <select style="background-color:dimgrey;border:none;vertical-align:central">
            <option value="10">Uke 10</option>
            <option value="11">Uke 11</option>
            <option value="11">Uke 12</option>
        </select>
        <span style="font-size:16px;align-content:center;color:lightgray">07.03-13.03</span>
    </div>  
</div>

<div class="container" style="padding-top:35px">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Man</span>
            </br>
            <span style="font-size:22px;align-content:center">07</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0,5</h5>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Tirs</span>
            </br>
            <span style="font-size:22px;align-content:center">08</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal" >+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0,5</h5>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Ons</span>
            </br>
            <span style="font-size:22px;align-content:center">09</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0,5</h5>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Tors</span>
            </br>
            <span style="font-size:22px;align-content:center">11</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0,5</h5>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Fre</span>
            </br>
            <span style="font-size:22px;align-content:center">11</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0,5</h5>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Lør</span>
            </br>
            <span style="font-size:22px;align-content:center">12</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0</h5>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <time class="icon">
            <span style="font-size:14px">Søn</span>
            </br>
            <span style="font-size:22px;align-content:center">13</span>
        </time>
    </div>

    <div class="column-center">
        <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
    </div>

    <div class="column-right" style="padding-left:25px">
        <h5>0</h5>
    </div>
</div>

<div class="row">
    <div class="column-left"></div>
    <div class="column-center"></div>
    <div class="column-right"><h1>2,5 t</h1></div>

</div>
<div class="row">
    <div>
        <button class="button button4" type="button" data-toggle="modal" data-target="#myModal"><h3>Lever timelist</h3></button>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4A4A4A">
                <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
                <h4 class="modal-title" style="color:white">Tirsdag 08 mars</h4>
            </div>

            <div class="modal-body" style="background-color:#E6F6D2;">

                <select class="classic">
                    <option selected="selected">Folkehelseinstituttet</option>
                    <option>Admin</option>
                    <option>Inmarsat</option>
                    <option>KLP</option>
                </select>

                <select class="classic">
                    <option>Samhandling og nytt intranet</option>
                    <option>another option 1</option>
                    <option>another option 2</option>
                </select>
                <select class="classic">
                    <option>Analyse/spesifikasjon</option>
                    <option>another option 3</option>
                    <option>another option 4</option>
                </select>

                <input type="text" placeholder="Ingen beskrivelse" />

                <select class="classic">
                    <option>0,5t</option>
                    <option>1t</option>
                    <option>1,5t</option>
                    <option>2t</option>
                    <option>2,5t</option>
                    <option>3t</option>
                    <option>3,5t</option>
                    <option>4t</option>
                    <option>4,5t</option>
                    <option>5t</option>
                    <option>5,5t</option>
                    <option>6t</option>
                    <option>6,5t</option>
                    <option>7t</option>
                    <option>7,5t</option>
                </select>

                <div style="background-color:white">
                     <button class="button button3" type="button" data-toggle="modal" data-target="#myModal">+ Legg til ny</button>
                </div>
            </div>

            <div class="modal-footer" style="background-color:#FEFAA4">
                <strong type="link" class="btn btn-default" data-dismiss="modal">Gå til onsdag 09 mars ></strong>
            </div>
        </div>

    </div>
</div>
