body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
.button {
    background-color: #BCE981;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 250px;
    max-width: 550px;
    text-align: center;
    
}

.button1 {
    background-color: white;
    color: #9B9B9B;
    border: 2px solid #BCE981;
    display: table;
    margin: 0 auto 25px;
    min-width: 98%;
    max-width: 99%;
}
.button2 {
    background-color: white;
    color: #A8A8A8;
    border: 2px solid #A8A8A8;
    display: table;
    margin: 0 auto 25px;
}
.button3 {
    background-color: white;
    color: #D8D8D8;
    border: 2px solid #D8D8D8;
    display: table;
    margin: 0 auto 25px;
    min-width: 150px;
    max-width: 250px;

}
.button4 {
    background-color: #e7e7e7; 
    color: white;
    display: table;
    margin: 0 auto 25px;
    min-width: 95%;
    max-width: 98%;
}
#top, #bottom, #left, #right {
	background: #BCE981;
	position: fixed;
}
#left, #right {
	top: 0; bottom: 0;
	width: 8px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
    left: 0; right: 0;
    height: 8px;
}
#top { top: 0; }
#bottom { bottom: 0; }

.column-left{ float: left; width: 15%; }
.column-right{ float: right; width: 15%; }
.column-center{ display: inline-block; width: 70%; }



/* arrows */

select.classic {
      /* styling */
  min-width:98%;
  max-width:99%;
  background-color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #4C4D4B 50%),
    linear-gradient(135deg, #4C4D4B 50%, transparent 50%),
    linear-gradient(to right, #BCE981, #BCE981);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  margin-bottom:10px;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: none;
  outline: 0;
}

input[type=text] {
    padding:5px;
     border:none; 

}
::-webkit-input-placeholder{
    color: #F29F73;
}

.descriptionbox{
    margin-bottom:10px;
  min-width:98%;
  max-width:99%;
}

.savebutton{
    background-color:#87D300;
    color:white;
    border: none;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
}
.deletebutton{
    background-color:#BCE981;
    color:black;
    border: none;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
}

.ListItem{
    background-color:#EEFFDB;

}

.ProjectCustomer{
    font-size:13px;
    color:#486023;
    line-height:0.6;
}

.ProjectDescription {
    font-size:13px;
    color:#94B665;
    line-height:0.6;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.flex-item-left {
    background-color: white;
    width: 10%;
    height: auto;
}
.flex-item-right {
    background-color: #CDF796;
    width: 10%;
    height: auto;
    margin: 5px;
    text-align: center;
    color:gray;
    font-size:16px;
}

.flex-item-center {
    background-color: #EEFFDB;
    width: 80%;
    height: auto;
    margin: 5px;
}

.warning{
    padding-top:15px;
    display:none;
}
.warningcontent{
    border:solid;
    border-color:#EEA500;
}

